<!--
  ~ Copyright © Live-Poll 2020. All rights reserved
  -->

<div class="sign-up-screen waveWrapper waveAnimation">
  <!-- Sign up container -->
  <nz-card class="sign-up-container">
    <h3>Create an account:</h3>
    <form nz-form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
      <div nz-row [nzGutter]="10">
        <div nz-col nzSpan="12">
          <!-- Username -->
          <nz-form-item>
            <nz-form-control nzErrorTip="The input is not valid username!">
              <label>
                <span class="input-label">Username: <span class="required-field">*</span></span>
                <nz-input-group nzPrefixIcon="user">
                  <input nz-input id="username" formControlName="username" autocomplete="username" tabindex="1" placeholder="Username" />
                </nz-input-group>
              </label>
            </nz-form-control>
          </nz-form-item>
          <!-- Password -->
          <nz-form-item>
            <nz-form-control nzErrorTip="Please enter your password!">
              <label>
                <span class="input-label">Password: <span class="required-field">*</span></span>
                <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                  <input nz-input [type]="passwordVisible ? 'text' : 'password'" id="password"
                         formControlName="password" autocomplete="new-password" placeholder="Password" tabindex="3"
                         (ngModelChange)="updateConfirmValidator()" />
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                </ng-template>
              </label>
            </nz-form-control>
          </nz-form-item>
          <!-- License agreement -->
          <nz-form-item>
            <nz-form-control class="agb-checkbox" nzErrorTip="Accepting the agreement is mandatory!">
              <label nz-checkbox formControlName="agb">
                <span style="margin-right: -5px">I have read the</span>
              </label>
              <a href="https://www.chillibits.com/en/legal-notice/" target="_blank">license agreement</a>
              <span class="required-field"> *</span>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <!-- Email -->
          <nz-form-item>
            <nz-form-control nzErrorTip="The input is not valid email!">
              <label>
                <span class="input-label">E-Mail: <span class="required-field">*</span></span>
                <nz-input-group nzPrefixIcon="mail">
                  <input nz-input id="email" formControlName="email" autocomplete="email" tabindex="2"
                         placeholder="Email" />
                </nz-input-group>
              </label>
            </nz-form-control>
          </nz-form-item>
          <!-- Confirm password -->
          <nz-form-item>
            <nz-form-control nzErrorTip="The passwords do not match!">
              <label>
                <span class="input-label">Confirm password: <span class="required-field">*</span></span>
                <nz-input-group nzPrefixIcon="lock">
                  <input nz-input [type]="passwordVisible ? 'text' : 'password'" id="confirmPassword"
                         formControlName="confirmPassword" autocomplete="new-password" tabindex="4"
                         placeholder="Confirm password" />
                </nz-input-group>
              </label>
            </nz-form-control>
          </nz-form-item>
          <!-- Newsletter -->
          <nz-form-item>
            <nz-form-control class="newsletter-checkbox">
              <label nz-checkbox formControlName="newsletter">
                <span>Subscribe to the Live-Poll newsletter</span>
              </label>
            </nz-form-control>
          </nz-form-item>
          <!-- Sign up button (order of buttons is important, due to the button focus) -->
          <button nz-button class="sign-up-form-button login-form-margin" nzType="primary" autofocus [nzLoading]="loading">
            {{loading ? 'Creating ...' : 'Create account'}}
          </button>
          <!-- Back button -->
          <button nz-button class="back-form-button login-form-margin" nzType="default" [disabled]="loading" routerLink="/login">
            Back to login
          </button>
        </div>
      </div>
    </form>
  </nz-card>
  <app-waves [darkTheme]="darkTheme"></app-waves>
</div>
