<div class="sign-up-screen waveWrapper waveAnimation">
  <!-- Sign up container -->
  <nz-card class="sign-up-container">
    <h3>Create an account:</h3>

  </nz-card>

  <!-- Wave animation -->
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('assets/images/wave-top.png')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('assets/images/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('assets/images/wave-bot.png')"></div>
  </div>
</div>
