/*!
 / Copyright © Live-Poll 2020-2021. All rights reserved
 /
.sign-up-screen
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  height: 100vh

.sign-up-container
  z-index: 20
  width: 600px
  margin-top: 30vh
  border-color: transparent
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09)

nz-form-item
  text-align: left

.sign-up-form-button
  float: right
  margin-left: -15px

.agb-checkbox, .newsletter-checkbox
  margin-top: 0
  margin-bottom: -10px


nz-form-control
  margin-top: -5px

h3
  color: grey
  margin-bottom: 15px
  text-align: center

.agb-label
  margin-right: -5px
