<!--
  ~ Copyright © Live-Poll 2020. All rights reserved
  -->

<div class="waveWrapperInner bgTop">
  <div class="wave waveTop" [style]="'background-image: url(' + (darkTheme ? 'assets/images/dark/wave-top.svg'
    : 'assets/images/light/wave-top.svg') + ');'"></div>
</div>
<div class="waveWrapperInner bgMiddle">
  <div class="wave waveMiddle" [style]="'background-image: url(' + (darkTheme ? 'assets/images/dark/wave-mid.svg'
    : 'assets/images/light/wave-mid.svg') + ');'"></div>
</div>
<div class="waveWrapperInner bgBottom">
  <div class="wave waveBottom" [style]="'background-image: url(' + (darkTheme ? 'assets/images/dark/wave-bot.svg'
    : 'assets/images/light/wave-bot.svg') + ');'"></div>
</div>
