<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" nzWidth="850px"
          [nzTitle]="dialogTitle" [nzContent]="dialogContent" [nzFooter]="dialogFooter">
  <!-- Header -->
  <ng-template #dialogTitle>
    New Poll Item - {{step > stepLabels.length ? 'Creating ...' : stepLabels[step -1]}}
  </ng-template>

  <!-- Content -->
  <ng-template #dialogContent>
    <nz-layout style="margin: -24px">
      <!-- Side bar with timeline -->
      <nz-sider class="dialog-sidebar" nzWidth="300px">
        <nz-steps [nzCurrent]="step -1" nzDirection="vertical" nzSize="small">
          <nz-step *ngFor="let name of stepLabels" nzTitle="{{name}}"></nz-step>
          <nz-step *ngIf="step === 4" nzTitle="Creating ..." nzStatus="process" nzIcon="loading"></nz-step>
        </nz-steps>
      </nz-sider>

      <!-- Main content -->
      <nz-content>
        <!-- Step 1 - Select item type -->
        <div *ngIf="step === 1">
          <nz-radio-group [(ngModel)]="itemType">
            <label *ngFor="let type of itemTypes" nz-radio nzValue='{{type.id}}'>
              <b>{{type.name}}</b><br>
              <span class="radio-description"><i>{{type.description}}</i></span>
            </label>
          </nz-radio-group>
        </div>

        <!-- Step 2 - Enter question / answers -->
        <div *ngIf="step === 2">
          <label>
            <span class="input-label">Question:</span>
            <input nz-input placeholder="Enter your question ..." [(ngModel)]="question" />
          </label>
          <nz-divider></nz-divider>

          <!-- Open Text question / Word cloud question / Rating question -->
          <div *ngIf="itemType == 1 || itemType == 4 || itemType == 5">
            <i>Open text questions do not have pre-defined answers.</i>
          </div>

          <!-- Multiple choice question -->
          <div *ngIf="itemType == 2">
            <!-- Answers -->
            <label *ngFor="let answer of answers; let i = index; trackBy:trackByFn">
              <span class="input-label">Answer {{i +1}}:</span>
              <nz-input-group [nzSuffix]="i < 2 ? null : suffixTemplate">
                <input nz-input [(ngModel)]="answers[i]" />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="'delete'" style="cursor: pointer" (click)="answers.splice(i, 1)"></i>
              </ng-template>
            </label>
            <!-- Add answer button -->
            <div style="padding-top: 10px; float: right;">
              <button [disabled]="answers.length >= 10" nz-button nzType="default" (click)="answers.push('')">
                <i nz-icon nzType="plus-circle" nzTheme="outline"></i> Answer
              </button>
            </div>
            <br><br>
          </div>

          <!-- Quiz question -->
          <div *ngIf="itemType == 3">
            <!-- Answers -->
            <label *ngFor="let answer of answers; let i = index; trackBy:trackByFn">
              <span class="input-label" [style]="i === 0 ? 'color: #4ca857;' : 'color: #ff194f;'">
                {{i === 0 ? 'Right answer' : 'Wrong answer ' + i}}:
              </span>
              <nz-input-group [nzSuffix]="i < 2 ? null : suffixTemplate">
                <input nz-input [(ngModel)]="answers[i]" [placeholder]="i === 0 ? 'Enter right answer ...' : 'Enter wrong answer ...'"/>
              </nz-input-group>
              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="'delete'" style="cursor: pointer" (click)="answers.splice(i, 1)"></i>
              </ng-template>
            </label>
            <!-- Add answer button -->
            <div style="padding-top: 10px; float: right;">
              <i style="margin-inline-end: 20px;">The answers are going to be randomized for each user.</i>
              <button [disabled]="answers.length >= 5" nz-button nzType="default" (click)="answers.push('')">
                <i nz-icon nzType="plus-circle" nzTheme="outline"></i> Answer
              </button>
            </div>
            <br><br>
          </div>
        </div>

        <!-- Step 3 - Options -->
        <div *ngIf="step >= 3">
          <div *ngFor="let option of options">
            <!-- Type boolean -->
            <span *ngIf="option.type === optionTypes.BOOLEAN">
              <nz-switch [(ngModel)]="option.value"></nz-switch>
              <span class="switch-label">{{option.name}}</span>
              <br><br>
            </span>
            <!-- Type int -->
            <label *ngIf="option.type === optionTypes.INT">
              <span class="input-label">{{option.name}}:</span><br>
              <input nz-input type="number" [min]="option.min" [max]="option.max" style="width: 100px" [(ngModel)]="option.value"/>
            </label>
            <!-- Type string -->
            <label *ngIf="option.type === optionTypes.STRING">
              <span class="input-label">{{option.name}}:</span><br>
              <input nz-input style="width: 200px" [(ngModel)]="option.value"/>
            </label>
          </div>
        </div>

        <nz-alert *ngIf="errorMessage?.length > 0" nzType="error" nzMessage={{errorMessage}} nzCloseText="Okay" (nzOnClose)="errorMessage = ''"></nz-alert>
      </nz-content>
    </nz-layout>
  </ng-template>

  <!-- Footer -->
  <ng-template #dialogFooter>
    <button nz-button nzType="default" (click)="handleCancel()" [disabled]="loading">Cancel</button>
    <button nz-button nzType="default" (click)="handleBack()" [disabled]="loading || step === 1">Back</button>
    <button nz-button nzType="primary" (click)="handleNext()" [nzLoading]="loading">{{step === 3 ? 'Finish' : 'Next'}}</button>
  </ng-template>
</nz-modal>
