<!--
  ~ Copyright © Live-Poll 2020. All rights reserved
  -->

<!-- Navigation breadcrumb -->
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/dashboard/home" nz-icon nzType="home"></a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/dashboard/my-polls"><em>My Polls</em></a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a [routerLink]="'/dashboard/my-polls/poll/' + poll.id"><em>{{poll.name}}</em></a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<!-- Page content -->
<nz-content style="margin-top: 10px">
  <nz-page-header *ngIf="poll !== undefined" class="site-page-header" (nzBack)="onBack()" nzBackIcon>
    <!--title-->
    <nz-page-header-title>{{poll.name}}</nz-page-header-title>

    <!--subtitle-->
    <nz-page-header-subtitle *ngIf="poll.startDate != '0' && poll.endDate != '0'">
      From {{poll.startDate}} to {{poll.endDate}}
    </nz-page-header-subtitle>
    <nz-page-header-subtitle *ngIf="poll.startDate == '0' && poll.endDate != '0'">
      From {{poll.startDate}} to {{poll.endDate}}
    </nz-page-header-subtitle>
    <nz-page-header-subtitle *ngIf="poll.startDate == '0' && poll.endDate == '0'">
      Manual activation / deactivation
    </nz-page-header-subtitle>

    <!--tags-->
    <nz-page-header-tags>
      <nz-tag [nzColor]="'orange'">Planned</nz-tag>
    </nz-page-header-tags>

    <!--extra-->
    <nz-page-header-extra>
      <button nz-button nzType="dashed" nzDanger><i nz-icon nzType="delete"></i>Delete poll</button>
      <button nz-button><i nz-icon nzType="edit"></i>Edit poll</button>
      <button nz-button nzType="primary" [nzLoading]="changingState" (click)="changePollState(!poll.open)">
        Open poll
      </button>
    </nz-page-header-extra>

    <!--content-->
    <nz-page-header-content>
      <div nz-row>
        <div class="content">
          <p>
            Ant Design interprets the color system into two levels: a system-level color system and a product-level color system.
          </p>
          <p>
            Ant Design's design team preferred to design with the HSB color model, which makes it easier for designers to have a clear
            psychological expectation of color when adjusting colors, as well as facilitate communication in teams.
          </p>
          <div class="content-link">
            <a> <img src="https://gw.alipayobjects.com/zos/rmsportal/MjEImQtenlyueSmVEfUD.svg" alt="start" />Quick Start </a>
            <a> <img src="https://gw.alipayobjects.com/zos/rmsportal/NbuDUAuBlIApFuDvWiND.svg" alt="info" />Product Info </a>
            <a> <img src="https://gw.alipayobjects.com/zos/rmsportal/ohOEPSYdDTNnyMbGuyLb.svg" alt="doc" />Product Doc </a>
          </div>
        </div>
      </div>

      <!--<app-new-poll-item-dialog [isVisible]="true"></app-new-poll-item-dialog>-->
    </nz-page-header-content>
  </nz-page-header>
</nz-content>
