<!--
  ~ Copyright © Live-Poll 2020. All rights reserved
  -->

<!-- Navigation breadcrumb -->
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/dashboard/home" nz-icon nzType="home"></a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/dashboard/my-polls"><em>My Polls</em></a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item *ngIf="poll">
    <a [routerLink]="'/dashboard/my-polls/poll/' + poll.id"><em>{{poll.name}}</em></a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<!-- Page content -->
<nz-content style="margin-top: 10px">
  <nz-page-header *ngIf="!error && poll" class="site-page-header" (nzBack)="onBack()" nzBackIcon>
    <!--title-->
    <nz-page-header-title>{{poll.name}}</nz-page-header-title>

    <!--subtitle-->
    <nz-page-header-subtitle *ngIf="poll.startDate != '0' && poll.endDate != '0'">
      From {{poll.startDate | date:'short'}} to {{poll.endDate | date:'short'}}
    </nz-page-header-subtitle>
    <nz-page-header-subtitle *ngIf="poll.startDate == '0' && poll.endDate != '0'">
      Manual opening, closing automatically at {{poll.endDate | date:'short'}}
    </nz-page-header-subtitle>
    <nz-page-header-subtitle *ngIf="poll.startDate == '0' && poll.endDate != '0'">
      Opening automatically at {{poll.startDate | date:'short'}}, manual closing
    </nz-page-header-subtitle>
    <nz-page-header-subtitle *ngIf="poll.startDate == '0' && poll.endDate == '0'">
      Manual opening / closing
    </nz-page-header-subtitle>

    <!--tags-->
    <nz-page-header-tags>
      <nz-tag [nzColor]="'orange'">Planned</nz-tag>
    </nz-page-header-tags>

    <!--extra-->
    <nz-page-header-extra>
      <button nz-button nzType="dashed" nz-popconfirm nzPopconfirmTitle="Are you sure you want to delete this poll?"
              nzPopconfirmPlacement="bottom" (nzOnConfirm)="deletePoll()" nzDanger>
        <i nz-icon nzType="delete"></i>Delete poll
      </button>
      <button nz-button><i nz-icon nzType="edit"></i>Edit poll</button>
      <button nz-button nzType="primary" [nzLoading]="changingState" (click)="changePollState(!poll.open)">
        Open poll
      </button>
    </nz-page-header-extra>

    <!--content-->
    <nz-page-header-content>
      <div nz-row>
        You can share this URL with your participants:&nbsp;
        <p style="color: #38C6BC">
          {{host}}/p/
          <span nz-typography nzCopyable nzEditable [nzContent]="poll.snippet" (nzContentChange)="onUrlChange($event)"
                [nzCopyText]="host + '/' + poll.snippet" style="margin-left: -2px; color: #38C6BC"></span>
        </p>
        <nz-tabset class="content" style="width: 100%">
          <nz-tab [nzTitle]="titleQuestions">
            <ng-template #titleQuestions>
              <i nz-icon nzType="ordered-list"></i>Questions
            </ng-template>

            <!-- Poll item list -->
            <nz-page-header>
              <nz-page-header-subtitle>Click on an item for details</nz-page-header-subtitle>
              <nz-page-header-extra>
                <button nz-button nzType="primary" (click)="showNewPollItemDialog = true">New question</button>
              </nz-page-header-extra>
            </nz-page-header>
            <nz-list nzGrid>
              <div nz-row [nzGutter]="16">
                <div nz-col [nzXXl]="8" [nzXl]="4" [nzLg]="6" [nzMd]="6" [nzSm]="12" [nzXs]="24" *ngFor="let item of poll.questions">
                  <nz-list-item>
                    <nz-card [nzTitle]="item.question">
                      Card content
                    </nz-card>
                  </nz-list-item>
                </div>
              </div>
            </nz-list>

            <!-- No poll items -->
            <app-result-empty *ngIf="poll.questions === undefined || poll.questions.length === 0"
                              message="You do not have any questions yet."></app-result-empty>
          </nz-tab>
          <nz-tab [nzTitle]="titleResults">
            <ng-template #titleResults>
              <i nz-icon nzType="bar-chart"></i>Results
            </ng-template>

            <!-- No results -->
            <app-result-empty *ngIf="poll.questions === undefined || poll.questions.length === 0"
                              message="The results of your poll are not yet available."></app-result-empty>
          </nz-tab>
          <nz-tab [nzTitle]="titleQA">
            <ng-template #titleQA>
              <i nz-icon nzType="message"></i>Q&A Management
            </ng-template>

            <p>Q&A is up to now far beyond the scope of the application</p>
          </nz-tab>
        </nz-tabset>
      </div>

      <app-new-poll-item-dialog [isVisible]="showNewPollItemDialog" (onClose)="handleNewPollItemDialogClose($event)"
                                [poll]="poll"></app-new-poll-item-dialog>
    </nz-page-header-content>
  </nz-page-header>

  <!-- Loading indicator -->
  <nz-spin *ngIf="!error && poll === undefined" nzSize="large"></nz-spin>

  <!-- Error message -->
  <app-result-error *ngIf="error" title="Error" subtitle="An error occurred while loading the poll"></app-result-error>
</nz-content>
