<nz-tabset nzTabBarGutter="0" style="margin: -12px -16px;">
  <!-- Account tab -->
  <nz-tab [nzTitle]="tabTitle1">
    <div nz-row style="width: 410px; margin-top: -16px; padding: 10px">
      <div nz-col nzSpan="8">
        <div class="center"><nz-avatar [nzSize]="90" nzIcon="user"></nz-avatar></div>
        <!-- Upload button for new profile images -->
        <nz-upload nzAction="https://api.live-poll.de/upload/p29845982348z"
                   [nzHeaders]="{ authorization: 'authorization-text' }">
          <button nz-button nzType="dashed" nzSize="small" style="margin-top: 10px">
            <i nz-icon nzType="upload"></i>Upload image
          </button>
        </nz-upload>
      </div>
      <div nz-col nzSpan="16">
        <!-- Account data -->
        <span><strong>Username:</strong> {{userData.username}}</span><br>
        <span><strong>Email:</strong> {{userData.email}}</span>

        <!-- Edit personal data button -->
        <button nz-button nzSize="small" style="position: absolute; bottom: 0; left: 0;">
          <i nz-icon nzType="edit"></i>Edit data
        </button>
        <!-- Logout button -->
        <button nz-button nzType="primary" nzSize="small" style="position: absolute; bottom: 0; right: 0;"
                (click)="logout.emit()">
          <i nz-icon nzType="logout"></i>Logout
        </button>
      </div>
    </div>

    <ng-template #tabTitle1>
      <span style="margin: 0 15px;"><i nz-icon nzType="user"></i>Account</span>
    </ng-template>
  </nz-tab>
  <!-- Notifications tab -->
  <nz-tab [nzTitle]="tabTitle2">
    <nz-collapse *ngIf="notifications.length > 0" nzBordered="true" nzAccordion
                 style="user-select: none; width: 410px; margin-top: -16px;">
      <nz-collapse-panel #p *ngFor="let notification of notifications" [nzHeader]="header"
                         [nzExtra]="options" [nzExpandedIcon]="expandedIcon">
        <!-- Item content -->
        <p [innerHTML]="notification.message"></p>

        <!-- Header -->
        <ng-template #header>
          <span nzEllipsis nzEllipsisRows="1">{{notification.title}}</span>
        </ng-template>
        <!-- Header options -->
        <ng-template #options>
          <button nz-button nzSize="small">
            <i nz-icon nzType="read" nzTheme="outline"></i> Mark as read
          </button>
        </ng-template>
        <!-- Expand icon -->
        <ng-template #expandedIcon>
          <i nz-icon nzType="right-circle" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : 0"
             style="font-size: 16px;"></i>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-empty *ngIf="notifications.length === 0"></nz-empty>

    <ng-template #tabTitle2 style="padding: 5px">
      <span style="margin: 0 15px;"><i nz-icon nzType="notification"></i>Notifications</span>
    </ng-template>
  </nz-tab>
</nz-tabset>
