<!--
  ~ Copyright © Live-Poll 2020-2021. All rights reserved
  -->

<nz-tabset nzTabBarGutter="0">
  <!-- Account tab -->
  <nz-tab [nzTitle]="tabTitle1">
    <div nz-row class="tab-1">
      <div nz-col nzSpan="8">
        <div class="center"><nz-avatar [nzSize]="90" nzIcon="user"></nz-avatar></div>
        <!-- Upload button for new profile images -->
        <nz-upload nzAction="https://api.live-poll.de/upload/p29845982348z"
                   [nzHeaders]="{ authorization: 'authorization-text' }">
          <button nz-button nzType="dashed" nzSize="small" class="upload-image-button">
            <i nz-icon nzType="upload"></i>Upload image
          </button>
        </nz-upload>
      </div>
      <div nz-col nzSpan="16">
        <!-- Account data -->
        <span><strong>Username:</strong> {{userData.username}}</span><br>
        <span><strong>Email:</strong> {{userData.email}}</span><br>
        <span><strong>Account status:</strong>&nbsp;
          <nz-badge nzColor="#87d068" nzStatus="processing" nzText="Active"></nz-badge>
        </span>

        <!-- Edit personal data button -->
        <button nz-button nzSize="small" class="edit-button">
          <i nz-icon nzType="edit"></i>Edit data
        </button>
        <!-- Logout button -->
        <button nz-button nzType="primary" nzSize="small" class="logout-button" (click)="logout.emit()">
          <i nz-icon nzType="logout"></i>Logout
        </button>
      </div>
    </div>

    <ng-template #tabTitle1>
      <span class="tab-title"><i nz-icon nzType="user"></i>Account</span>
    </ng-template>
  </nz-tab>
  <!-- Notifications tab -->
  <nz-tab [nzTitle]="tabTitle2">
    <nz-collapse *ngIf="notifications.length > 0" nzBordered="true" nzAccordion class="notification-list no-select">
      <nz-collapse-panel #p *ngFor="let notification of notifications" [nzHeader]="header"
                         [nzExtra]="options" [nzExpandedIcon]="expandedIcon">
        <!-- Item content -->
        <p [innerHTML]="notification.message"></p>

        <!-- Header -->
        <ng-template #header>
          <span>{{notification.title}}</span>
        </ng-template>
        <!-- Header options -->
        <ng-template #options>
          <button nz-button nzSize="small" (click)="markAsRead.emit(notification.id)">
            <i nz-icon nzType="read" nzTheme="outline"></i>&nbsp;Mark as read
          </button>
        </ng-template>
        <!-- Expand icon -->
        <ng-template #expandedIcon>
          <i nz-icon nzType="right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : 0"></i>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-empty *ngIf="notifications.length === 0"></nz-empty>

    <ng-template #tabTitle2>
      <nz-badge [nzCount]="notifications.length">
        <span class="tab-title"><i nz-icon nzType="notification"></i>Notifications</span>
      </nz-badge>
    </ng-template>
  </nz-tab>
</nz-tabset>
