<!--
  ~ Copyright © Live-Poll 2020. All rights reserved
  -->

<div class="login-screen waveWrapper waveAnimation">
  <!-- Login container -->
  <nz-card class="login-container">
    <h3>Login to your account:</h3>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <!-- Username -->
      <nz-form-item>
        <nz-form-control nzErrorTip="Please enter your username!">
          <label>
            <span class="input-label">Username:</span>
            <nz-input-group nzPrefixIcon="user">
              <input type="text" [(ngModel)]="username" nz-input formControlName="username" placeholder="Username" />
            </nz-input-group>
          </label>
        </nz-form-control>
      </nz-form-item>
      <!-- Password -->
      <nz-form-item>
        <nz-form-control class="form-control-password" nzErrorTip="Please enter your password!">
          <label>
            <span class="input-label">Password:</span>
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" [(ngModel)]="password" nz-input formControlName="password" placeholder="Password" />
            </nz-input-group>
          </label>
        </nz-form-control>
      </nz-form-item>
      <!-- Remember me -->
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot" routerLink="/forgot-password">Forgot password</a>
        </div>
      </div>
      <!-- Login button -->
      <button nz-button class="login-form-button login-form-margin" nzType="primary" [nzLoading]="loading">
        {{loading ? 'Logging in ...' : 'Log in'}}
      </button>
      Or <a routerLink="/signup">Sign up now!</a>
    </form>
  </nz-card>

  <app-waves [darkTheme]="darkTheme"></app-waves>
</div>
