<!--
  ~ Copyright © Live-Poll 2020-2021. All rights reserved
  -->

<nz-layout>
  <nz-header class="header">
    <div class="header-logo">
      <a href="/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/logo.svg" alt="logo">
      </a>
    </div>
    <h1 class="poll-name">{{poll.name}}</h1>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div class="poll-container" [ngSwitch]="'multiple-choice'">
        <h1>{{activeItemType}}</h1>
        <!-- Multiple Choice Question -->
        <div *ngSwitchCase="'multiple-choice'">
          <h1>{{activeItem.question}}</h1>
          <nz-radio-group [(ngModel)]="answer">
            <label *ngFor="let answer of activeItem.answers; let i = index" nz-radio nzValue="{{i}}">{{answer.selectionOption}}</label>
            <!--<label *ngIf="activeItem.options" nz-radio nzValue="M">Custom answer... <input type="text" nz-input *ngIf="answer === 'M'" /></label>-->
          </nz-radio-group>
          <button nz-button nzType="primary" nzSize="large">
            Submit Answer
            <i nz-icon nzType="right"></i>
          </button>
        </div>

        <!-- Open Text Question -->
        <div *ngSwitchCase="'open-text'">
          <h1>{{activeItem.question}}</h1>

        </div>

        <!-- Quiz Question -->
        <div *ngSwitchCase="'quiz'">
          <h1>{{activeItem.question}}</h1>

        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer class="participants-footer">Provided with ❤ by <a href="https://www.live-poll.de" target="_blank">Live-Poll</a></nz-footer>
</nz-layout>
