<nz-layout class="app-layout">
  <!-- Side bar -->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://www.live-poll.de" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Live-Poll</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li class="no-select" nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home">Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/my-polls">My Polls</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/analytics">Analytics</a>
          </li>
        </ul>
      </li>
      <li class="no-select" nz-submenu nzTitle="Account" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Change password</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Account details</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <!-- Main toolbar -->
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span class="header-menu">
          <nz-switch [ngModel]="!darkTheme" (ngModelChange)="changeTheme(!$event)" style="margin-right: 10px"
                     [nzUnCheckedChildren]="unchecked" [nzCheckedChildren]="checked"></nz-switch>
          <ng-template #unchecked><i nz-icon nzType="smile" nzTheme="outline"></i></ng-template>
          <ng-template #checked><i nz-icon nzType="bulb"></i></ng-template>
          <nz-badge [nzCount]="5" style="margin-right: 24px;">
            <nz-avatar nzIcon="user"></nz-avatar>
          </nz-badge>
        </span>
      </div>
    </nz-header>

    <nz-layout class="inner-layout">
      <!-- Navigation bread crumbs -->
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a routerLink="/home" nz-icon nzType="home"></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a routerLink="/my-polls"><i>My Polls</i></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a routerLink="/polls/test-poll"><i>Test Poll</i></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a routerLink="/polls/test-poll/1"><b>Question 1</b></a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>

      <!-- Page content, flipped by router -->
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
