<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null" nzTheme="light">
    <div class="sidebar-logo">
      <a href="https://www.live-poll.de" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Live-Poll</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" nzOpen [nzInlineCollapsed]="isCollapsed">
      <li class="no-select" nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home">Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/my-polls">My Polls</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li class="no-select" nz-submenu nzTitle="Account" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Change password</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Account details</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
