<!--
  ~ Copyright © Live-Poll 2020. All rights reserved
  -->

<!-- Navigation breadcrumb -->
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/dashboard/home" nz-icon nzType="home"></a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<!-- Page content -->
<nz-content style="margin-top: 10px">
  <div class="inner-content">

    <p *ngIf="polls?.length > 0">Polls found. This component does render them in the future!</p>

    <!-- Empty result -->
    <app-result-empty *ngIf="polls === undefined || polls.length === 0" link="/dashboard/my-polls"
                      button-text="Add new poll" message="You do not have any polls yet."></app-result-empty>
  </div>
</nz-content>
