<!--
  ~ Copyright © Live-Poll 2020-2021. All rights reserved
  -->

<!-- Navigation breadcrumb -->
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/dashboard/home" nz-icon nzType="home"></a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/dashboard/my-polls"><em>My Polls</em></a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<!-- Page content -->
<nz-content class="page-content">
  <!-- Toolbar -->
  <nz-page-header>
    <nz-page-header-subtitle>Click on a poll for details</nz-page-header-subtitle>
    <nz-page-header-extra>
      <button nz-button nzType="primary" (click)="showNewPollDialog = true">New poll</button>
    </nz-page-header-extra>
  </nz-page-header>

  <!-- Poll list -->
  <div class="poll-list-container" *ngIf="polls?.length">
    <nz-list nzGrid>
      <div nz-row [nzGutter]="16">
        <div nz-col [nzXXl]="8" [nzXl]="12" [nzLg]="12" [nzMd]="24" [nzSm]="24" [nzXs]="24" *ngFor="let poll of polls">
          <nz-list-item>
            <nz-card [nzTitle]="poll.name" [nzExtra]="pollOptions">
              <nz-row [nzGutter]="12">
                <nz-col [nzSpan]="12">
                  <nz-card>
                    <nz-statistic [nzValue]="10" nzTitle="Participants" [nzValueStyle]="{ color: '#3F8600' }">
                    </nz-statistic>
                  </nz-card>
                </nz-col>
                <nz-col [nzSpan]="12">
                  <nz-card>
                    <nz-statistic [nzValue]="5" nzTitle="Questions" [nzValueStyle]="{ color: '#CF1322' }">
                    </nz-statistic>
                  </nz-card>
                </nz-col>
              </nz-row>
            </nz-card>

            <ng-template #pollOptions [ngSwitch]="tools.getPollStatus(poll)">
              <nz-tag *ngSwitchCase="1" nzColor="orange">
                <i nz-icon nzType="clock-circle"></i>
                <span>Planned</span>
              </nz-tag>
              <nz-tag *ngSwitchCase="2" nzColor="green">
                <i nz-icon nzType="loading"></i>
                <span>Running</span>
              </nz-tag>
              <nz-tag *ngSwitchCase="3" nzColor="purple">
                <i nz-icon nzType="check"></i>
                <span>Finished</span>
              </nz-tag>
              <button nz-button nzType="primary" [routerLink]="'/dashboard/my-polls/poll/' + poll.id">
                Details<i nz-icon nzType="right"></i>
              </button>
            </ng-template>
          </nz-list-item>
        </div>
      </div>
    </nz-list>
  </div>

  <!-- Empty result -->
  <app-result-empty *ngIf="!polls?.length"
                    message="You do not have any polls yet. Click on the 'New poll' button above to create one.">
  </app-result-empty>

  <!-- Loading spinner -->
  <div class="spin-container">
    <nz-spin *ngIf="polls === undefined" nzSimple nzSize="large"></nz-spin>
  </div>

  <!-- Error result -->
  <app-result-error *ngIf="polls === null"></app-result-error>

  <!-- New poll dialog -->
  <app-new-poll-dialog [isVisible]="showNewPollDialog" (onClose)="handleNewPollDialogClose($event)"
                       [userData]="userData"></app-new-poll-dialog>
</nz-content>
