/*!
 / Copyright © Live-Poll 2020. All rights reserved
 /

.scrollbar
  max-height: calc(100vh - 195px)

.poll-list-container
  height: calc(100vh - 195px)

.spin-container
  display: flex
  align-items: center
  justify-content: center

