<!--
  ~ Copyright © Live-Poll 2020. All rights reserved
  -->

<!-- Navigation breadcrumb -->
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/home" nz-icon nzType="home"></a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/my-polls"><em>My Polls</em></a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<!-- Page content -->
<nz-content style="margin-top: 10px">
  <div>
    <!-- Toolbar -->
    <nz-page-header>
      <nz-page-header-title>My polls</nz-page-header-title>
      <nz-page-header-subtitle>Click on a poll to see details</nz-page-header-subtitle>
      <nz-page-header-extra>
        <button nz-button nzType="primary" (click)="showNewPollDialog = true">New poll</button>
      </nz-page-header-extra>
    </nz-page-header>

    <!-- Poll list -->
    <nz-collapse *ngIf="polls !== undefined && polls !== null && polls.length > 0" nzBordered="false">
      <nz-collapse-panel #p *ngFor="let poll of polls" [nzHeader]="poll.name" [nzActive]="expandedPoll === poll.id" [nzExtra]="options">
        <p>{{ poll.name }} content</p>


        <ng-template #options>
          <nz-tag nzColor="orange">
            <i nz-icon nzType="clock-circle"></i>
            <span>Planned</span>
          </nz-tag>
          <button nz-button nzType="primary" nzSize="small" (click)="handlePollClick(poll)">
            Details
            <i nz-icon nzType="right"></i>
          </button>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>

    <!-- Empty result -->
    <app-result-empty *ngIf="polls !== undefined && polls !== null && polls.length === 0"></app-result-empty>

    <!-- Loading spinner -->
    <div style="display: flex; align-items: center; justify-content: center;">
      <nz-spin *ngIf="polls === undefined" nzSimple nzSize="large"></nz-spin>
    </div>

    <!-- Error result -->
    <app-result-error *ngIf="polls === null"></app-result-error>

    <!-- New poll dialog -->
    <app-new-poll-dialog [isVisible]="showNewPollDialog"></app-new-poll-dialog>

    <!--<app-new-poll-item-dialog [isVisible]="true"></app-new-poll-item-dialog>-->
  </div>
</nz-content>
