/*!
 / Copyright © Live-Poll 2020. All rights reserved
 /

/* You can add global styles to this file, and also import other style files */

html, body
  margin: 0
  padding: 0

.no-select
  user-select: none

.input-label
  color: #c8c8c8
  font-size: 12px
  float: left
  margin-bottom: 3px

.switch-component
  margin-bottom: 15px

.switch-label
  margin-left: 20px

.inner-content
  padding: 24px
  margin-top: 15px
  height: 100%

.required-field
  color: red

app-waves
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.center
  display: flex
  justify-content: center
  align-items: center

.cdk-drag-preview
  box-sizing: border-box
  border-radius: 4px
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)

.cdk-drag-placeholder
  opacity: 0

.cdk-drag-animating
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

.poll-item-list.cdk-drop-list-dragging .poll-item:not(.cdk-drag-placeholder)
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)
