/*!
 / Copyright © Live-Poll 2020. All rights reserved
 /

/* You can add global styles to this file, and also import other style files */

html, body
  margin: 0
  padding: 0

.no-select
  user-select: none

.input-label
  color: #c8c8c8
  font-size: 12px
  float: left
  margin-bottom: 3px

.switch-component
  margin-bottom: 15px

.switch-label
  margin-left: 20px

.inner-content
  padding: 24px
  margin-top: 15px
  height: 100%

.required-field
  color: red

app-waves
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.center
  display: flex
  justify-content: center
  align-items: center

.page-content
  margin-top: 10px

.text-primary
  color: #38C6BC

.full-width
  width: 100%

.full-height
  height: 100%

.cursor-pointer
  cursor: pointer
