<!--
  ~ Copyright © Live-Poll 2020. All rights reserved
  -->

<nz-layout class="app-layout">
  <!-- Side bar -->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://www.live-poll.de" target="_blank" rel="noopener noreferrer">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Live-Poll</h1>
      </a>
    </div>
    <ul class="main-menu" nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li class="main-menu no-select" nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/home">Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/my-polls">My Polls</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/analytics">Analytics</a>
          </li>
        </ul>
      </li>
      <li class="main-menu no-select" nz-submenu nzTitle="Account" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Account details</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Change password</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <!-- Main toolbar -->
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span class="header-menu">
          <nz-switch [ngModel]="!darkTheme" (ngModelChange)="onChangeTheme.emit(!$event)" style="margin-right: 10px"
                     [nzUnCheckedChildren]="unchecked" [nzCheckedChildren]="checked"></nz-switch>
          <ng-template #unchecked><i nz-icon nzType="smile" nzTheme="outline"></i></ng-template>
          <ng-template #checked><i nz-icon nzType="bulb"></i></ng-template>
          <nz-badge [nzCount]="getNonSilentNotifications().length" nzOverflowCount="9" style="margin-right: 24px;">
              <nz-avatar nzIcon="user" nz-popover [nzPopoverContent]="userMenu" nzPopoverPlacement="rightBottom"
                         nzPopoverTrigger="click" style="cursor: pointer;"></nz-avatar>
            </nz-badge>
          <ng-template #userMenu>
            <!-- Notifications list -->
            <nz-tabset style="margin: -12px -16px;">
              <!-- Actions tab -->
              <nz-tab [nzTitle]="tabTitle1">
                <div style="width: 400px; margin-top: -16px">
                  <ul nz-menu>
                    <li nz-menu-item>Logout</li>
                    <li nz-menu-item>Account details</li>
                    <li nz-menu-item>Logout</li>
                  </ul>
                </div>

                <ng-template #tabTitle1>
                  <i nz-icon nzType="interaction" style="margin-left: 15px"></i>Actions
                </ng-template>
              </nz-tab>
              <!-- Notifications tab -->
              <nz-tab [nzTitle]="tabTitle2">
                <nz-collapse *ngIf="notifications.length > 0" nzBordered="false" nzAccordion
                             style="user-select: none; width: 400px; margin-top: -16px">
                  <nz-collapse-panel #p *ngFor="let notification of notifications" [nzHeader]="header"
                                     [nzExtra]="options" [nzExpandedIcon]="expandedIcon">
                    <!-- Item content -->
                    <p [innerHTML]="notification.message"></p>

                    <!-- Header -->
                    <ng-template #header>
                      <span nzEllipsis nzEllipsisRows="1">{{notification.title}}</span>
                    </ng-template>
                    <!-- Header options -->
                    <ng-template #options>
                      <button nz-button nzSize="small">
                        <i nz-icon nzType="read" nzTheme="outline"></i> Mark as read
                      </button>
                    </ng-template>
                    <!-- Expand icon -->
                    <ng-template #expandedIcon>
                      <i nz-icon nzType="right-circle" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : 0"
                         style="font-size: 16px;"></i>
                    </ng-template>
                  </nz-collapse-panel>
                </nz-collapse>
                <nz-empty *ngIf="notifications.length === 0"></nz-empty>

                <ng-template #tabTitle2 style="padding: 5px"><i nz-icon nzType="notification"></i>Notifications</ng-template>
              </nz-tab>
            </nz-tabset>
          </ng-template>
        </span>
      </div>
    </nz-header>

    <nz-layout class="inner-layout">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </nz-layout>
  </nz-layout>
</nz-layout>
