<!--
  ~ Copyright © Live-Poll 2020. All rights reserved
  -->

<nz-layout class="app-layout">
  <!-- Side bar -->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" target="_blank" rel="noopener noreferrer">
        <img src="assets/images/logo.svg" alt="logo">
        <h1>Live-Poll</h1>
      </a>
    </div>
    <ul class="main-menu" nz-menu nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="home"></i>
        <span><a routerLink="/dashboard/home">Home</a></span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="unordered-list"></i>
        <span><a routerLink="/dashboard/my-polls" >My Polls</a></span>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="bar-chart"></i>
        <span><a routerLink="/dashboard/analytics">Analytics</a></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <!-- Main toolbar -->
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span class="header-menu">
          <nz-switch [ngModel]="!darkTheme" (ngModelChange)="onChangeTheme.emit(!$event)" style="margin-right: 10px"
                     [nzUnCheckedChildren]="unchecked" [nzCheckedChildren]="checked"></nz-switch>
          <ng-template #unchecked><i nz-icon nzType="smile" nzTheme="outline"></i></ng-template>
          <ng-template #checked><i nz-icon nzType="bulb"></i></ng-template>
          <nz-badge [nzCount]="getNonSilentNotifications().length" nzOverflowCount="9" style="margin-right: 24px;">
              <nz-avatar nzIcon="user" nz-popover [nzPopoverContent]="userMenu"
                         nzPopoverPlacement="bottomRight" nzPopoverTrigger="click" style="cursor: pointer;"></nz-avatar>
            </nz-badge>
          <ng-template #userMenu>
            <app-main-options-menu [userData]="userData" [notifications]="notifications" (logout)="onLogout.emit()"
                                   (markAsRead)="markAsRead($event)">
            </app-main-options-menu>
          </ng-template>
        </span>
      </div>
    </nz-header>

    <nz-layout class="inner-layout">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </nz-layout>
  </nz-layout>
</nz-layout>
