<!--
  ~ Copyright © Live-Poll 2020. All rights reserved
  -->

<nz-layout class="app-layout">
  <!-- Side bar -->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://www.live-poll.de" target="_blank" rel="noopener noreferrer">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Live-Poll</h1>
      </a>
    </div>
    <ul class="main-menu" nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li class="main-menu no-select" nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/home">Home</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/my-polls">My Polls</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/analytics">Analytics</a>
          </li>
        </ul>
      </li>
      <li class="main-menu no-select" nz-submenu nzTitle="Account" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Account details</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Change password</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <!-- Main toolbar -->
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span class="header-menu">
          <nz-switch [ngModel]="!darkTheme" (ngModelChange)="onChangeTheme.emit(!$event)" style="margin-right: 10px"
                     [nzUnCheckedChildren]="unchecked" [nzCheckedChildren]="checked"></nz-switch>
          <ng-template #unchecked><i nz-icon nzType="smile" nzTheme="outline"></i></ng-template>
          <ng-template #checked><i nz-icon nzType="bulb"></i></ng-template>
          <nz-badge [nzCount]="getNonSilentNotifications().length" nzOverflowCount="9" style="margin-right: 24px;">
              <nz-avatar nzIcon="user" nz-popover [nzPopoverContent]="userMenu"
                         style="cursor: pointer;"></nz-avatar>
            </nz-badge>
          <ng-template #userMenu>
            <!-- Notifications list -->
            <ul nz-menu nzSelectable>
             <li nz-menu-item (click)="onLogout.emit()">Logout</li>
            </ul>
          </ng-template>
        </span>
      </div>
    </nz-header>

    <nz-layout class="inner-layout">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </nz-layout>
  </nz-layout>
</nz-layout>
